<html>

<head>
    <title>{{title}}</title>
</head>

<body>
    {{> searchBar}}
    {{#each books}}
    <p>{{this.title}} was written by {{this.author}}, published by {{this.publisher}}</p>
    <img src={{this.image}}>
    <a href={{this.moreDetails}} target="_blank">More details</a>
    {{else}}
    <p class="empty">No content</p>
    {{/each}}
</body>

</html>