<html>

<head>
    <title>{{title}}</title>
</head>

<body>
    {{> searchBar}}
    {{#each books}}
    <p>{{this.volumeInfo.title}} was written by {{this.volumeInfo.authors.1)}}, published by {{this.volumeInfo.publisher}}</p>
    {{else}}
    <p class="empty">No content</p>
    {{/each}}
</body>

</html>