<!doctype html>
<html lang="en">
<head>
    <title>{{title}}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<div class="container">
    {{> searchBar}}

        {{#if books.length}}
            {{!-- Google Books API return up to 10 without the maxResults param --}}
            <p>Top {{books.length}} results for "<b>{{query}}</b>":</p>
        {{/if}}
        <div class="card-columns">
            {{#each books}}
    
                <div class="card mb-4" style="width: 20rem;">
                    <div class="text-center">
                        <h6 class="card-title"><u>{{this.title}}</u></h6>
                        <img class="card-img-top" src={{this.image}} alt="Card image cap" style="width: 8rem;" >
                    </div>
                    <div class="card-body">
                        <p class="card-text">Written by {{this.author}}.</p>
                        <p>Published by {{this.publisher}}.</p>
                        <a href={{this.moreDetails}} target="_blank" class="btn btn-primary">More details</a>
                    </div>
                </div>

            {{else}}

                <div class="alert alert-warning" role="alert">
                    No books found for {{query}}.
                </div>
    
            {{/each}}

    </div> 
</div>

</body>
</html> 